/*PRINCIPAL*/

html {
    scroll-behavior: smooth;
  }

.main{
    background-color: white ;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 670px;
    padding-bottom: 0px;
    box-shadow: 0px 0px 10px #000;
    
}

/*POSICIONAMENTO DO MENU*/
.menu{
    padding: 0px 0px;
    margin-left: 50px;
    margin-top: -45px;

}
.menumaior{
    font-size: 15px;
}


/*MENU*/
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li {
    float: left;
    position: relative;
    margin-left: 55px;
}

/*HORIZONTAL*/
.menu ul li a{
    display: inline-block;
    text-decoration: none;
    background-color:  rgb(226, 223, 233);
    padding: 9px 12px ;
    border: 1px solid  rgb(226, 223, 233)c;
    
}

/*SUB MENU*/
.menu ul li ul{
    display: none;
    position: absolute;
}

/*ITENS DO MENU*/
.menu li:hover ul {
    display: block;
}

/*SUB MENU COR*/
.menu ul li ul li a:hover{
    background-color: thistle;
    font-size: 13px;
}

/*LARGURA DO SUB MENU*/
.menu ul li ul li a{
    width: 90px;
    font-size: 13px;
    margin-left: -50px;
}

li a{
    color: black;
    font-family: 'Secular One', sans-serif;
    
}

/*LOGO*/
.logo{
    margin-left: 40px;
   
    
}

.logotablet{
    width: 50px;
    height: 50px;
    
}

/*BOX MENU*/
.header{
    background-color:rgb(226, 223, 233);
}

/*BOX STRIX*/

.strix{
    background-color:thistle;
    float: right;
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
    width: 630px;
    height: 210px;
    margin-top: 50px;
    margin-bottom: 20px;
}

/*BOX FOTOS*/

.galeria{
    float: right;
    margin-top: 18px; 
    background-color: rgb(226, 223, 233);
    width: 670px;
    box-shadow: 0px 0px 10px #000;
}

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img10, .img11{
    margin-left: 55px;
    margin-top: 55px;
    float: left;
    height: 230px;
}

.img5{
    margin-top: -16px;
    margin-bottom: 75px;
    margin-left: 218px;
}



/*BOX SISTEMA DA ARMA*/

.arma{
    background-color: rgb(209, 180, 211);
    float: right;
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
    width: 630px;
    height: 200px;
    margin-top: 50px;
    margin-left: 55px;
    

}

/*BOX HARDWARE*/

.hardware{
    background-color: rgb(177, 113, 166);
    float: right;
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
    width: 630px;
    height: 260px;
    margin-top: 2px;
    
}

/*BOX VIDEOS*/

.videos{
    background-color:  black;
    float: right;
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
    width: 632px;
    height: 200px;
    margin-top: 50px;

}

.videotablet1, .videotablet2{
    width: 300px;
    height: 200px;
    
}

.videotablet2{
   
    margin-top: -9px;
    height: 200px;
   
}



/*BOTAO VIDEO 1 E 2*/

.btn {
    position: relative;
    width: 70px;
    margin-right: 5px;
    padding: 4px;
    top: 0px;
    margin-top: -199px;
    text-align: center;
    background-color: #ff47fd;
    font-family: 'Secular One', sans-serif;
}

.btn1{
    margin-top: -100px;
}

a {
    text-decoration: none;
}

.btn:hover {
    background-color:rgb(226, 223, 233);
}


/*IMAGENS INTEGRANTES*/

.ana1, .celio1, .giovanna1, .rafaela1, .thaynara1{
    box-shadow: 0px 0px 10px #000;
    margin-left: 35px;
   
}

/*BOX GRUPO*/

.grupo{
    background-color:rgb(177, 175, 175);
    float: right;
    box-shadow: 0px 0px 10px #000;
    padding: 10px;
    width: 650px;
    height: 700px;
    margin-top: 50px;
    
    
}

/*BOX DA IMAGENS DOS INTEGRANTES*/

.ana1, .celio1, .giovanna1, .rafaela1, .thaynara1{
    box-shadow: 0px 0px 10px #000;
    margin-left: 45px;
    width: 100px;
    height: 100px;
    
   
}

/*BOX GRUPO*/

.grupo{
    background-color:rgb(177, 175, 175);
    float: right;
    box-shadow: 0px 0px 10px #000;
    padding: 10px;
    width: 650px;
    height: 650px;
    margin-top: 50px;
    
    
}

/*BOX DA IMAGENS DOS INTEGRANTES*/

.ana, .celio, .giovanna, .rafaela, .thaynara{
    background-color:rgb(206, 204, 204);
    width: 200px;
    float: left;
    margin-left: 5px;
    margin-bottom: 20px;

}

.rafaela
{
   margin-left: 100px;
}

.thaynara{
    margin-right: 100px;
    
}



/*PARAGRÁFOS, TÍTULOS*/

p, h1, h2, h3{
    text-align: center;
    
}




/*BOX ROBOCUP*/

.robocup{
    background-color:rgb(179, 126, 190);
    float: right;
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
    width: 630px;
    height: 350px;
    margin-top: 50px;
    margin-left: 55px;

}

/*BOX NEXT*/

.next{
    background-color:rgb(154, 154, 156);
    float: right;
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
    width: 630px;
    height: 270px;
    margin-top: 2px;
}

/*BOX SEJA PARCEIRO*/

.formulario{
    background-color: #CCA9DD;
    float: right;
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
    width: 630px;
    height: 540px;
    margin-top: 50px;
}

/*BOTAO FORMULARIO*/

.btn1{
    position: relative;
    width: 120px;
    margin-left: 0px;
    padding: 5px;
    top: 0px;
    margin: 0 auto;
    text-align: center;
    background-color: 	#8138a8;
    font-family: 'Secular One', sans-serif;
}

.btn1:hover {
    background-color:rgb(226, 223, 233);
}

/*RODAPÉ*/
.rodape
{
    background-color: rgb(226, 223, 233);
    float: right;
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
    width: 630px;
    height: 180px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.rodapelista1, .rodapelista2, .youtube, .inicio, .copyright, .titulo{
    list-style: none;
    float: left;
    margin-left: 0px;
    
}

a:visited {
    color: black;
}

.titulo {
    font-family: 'Alfa Slab One', cursive;
}

.titulo{
    font-size: large;
}

h1, h2, h3, .youtube, .inicio{
    font-family:'Times New Roman', Times, serif
}

.youtube{
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 10px;
}

.youtube a {
    float: left;
    margin-top: 50px;
    margin-right: -80px;
}

/*imagem do robo*/
.inicio{
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 10px;
}

/*escrita inicio*/
.inicio a {
    float: left;
    margin-top: 50px;
    margin-right: -90px;
}

.copyright
{
    margin-top: -40px;
}





/*rgb(226, 223, 223)
thistle
rgb(236, 170, 225)
rgba(151, 100, 149, 0.767)
rgb(236, 170, 225);
rgb(211, 195, 212)
rgb(190, 111, 177)
rgb(236, 170, 225);
rgb(122, 45, 112)
rgb(177, 175, 175)
rgb(255, 247, 247)*/